*-debug.log
*-error.log
/.nyc_output
/coverage
bin
dist
build
tmp
node_modules
.turbo

.vscode/settings.json

# Local Netlify folder
.netlify

# Tests
packages/anima-cli/e2e-test/example-components/*.stories.js
